img {
    width: 128px;
}

.img1 {
    width: 300px;
}

.img2 {
    width: 150px;
}


/* If not satisfied of the size of the img, change in the browser, not here */


/* After finish changing, copy the data back here */


/* DO NOT CLOSE THE WEBPAGE IF YOU HAVEN'T COPY THE DATA! OR NOT THE DATA WILL MISSING! */